@import '@/css/common.scss';


/* Header
-------------------------------------------------- */
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 60px;
}

.logo {
  float: left;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.logo a {
  background: url(@/img/logo2.png) center / 100px no-repeat;
  width: 100px;
  height: 58px;
  /* color: #fff; */
  text-indent: -9999px;
}

.noscroll {
  position: fixed;
  overflow-y: scroll;
}

.menu {
  display: none;
}

.nav {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-right: 40px;
}

.nav li {
  margin-left: 40px;
}

.nav li a {
  position: relative;
  display: block;
  color: #333;
  font-size: 14px;
  line-height: 28px;
}

.home .nav a{
  color: #fff;
}

.nav li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  width: 100%;
  height: 1px;
  visibility: hidden;
  transform: scaleX(0);
  transition: .2s ease-out;
}

.home .nav a::after{
  background: #fff;
}

.nav a:hover::after,
.home .nav li:nth-child(1) a::after {
  visibility: visible;
  transform: scaleX(1);
}

.nav li a span {
  margin-left: 3px;
}

.shut {
  display: none;
}

@media (max-width: 767px) {
  .logo {
    margin-left: 15px;
  }

  .logo a {
    height: 60px;
  }

  .menu {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60px;
    width: 60px;
    cursor: pointer;
  }

  .menu::before,
  .menu::after {
    content: '';
    background: #333;
    width: 20px;
    height: 2px;
    margin: 4px 0;
  }

  .home .menu::before,
  .home .menu::after {
    background: #fff;
  }

  .nav {
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    transition: transform .3s;
    position: fixed;
    flex-direction: column;
    background: #fff;
    width: 100%;
    height: 100%;
    margin-right: 0;
  }

  .nav.down {
    transform: translate3d(0, 0, 0);
  }

  .nav.live {
    visibility: visible;
    opacity: 1;
  }

  /* .nav.live li:nth-child(1) a {
    animation: bounceIn .69s;
  }
  .nav.live li:nth-child(2) a {
    animation: bounceIn .66s;
  }
  .nav.live li:nth-child(3) a {
    animation: bounceIn .63s;
  }
  .nav.live li:nth-child(4) a {
    animation: bounceIn .6s;
  }
  @keyframes bounceIn {
    0% {
      transform: translate3d(0, 0, 0);
    }
    50% {
      transform: translate3d(0, 50px, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  } */
  .nav.hide li a {
    visibility: hidden;
    opacity: 0;
  }

  .nav li {
    margin-left: 0;
  }

  .nav li a {
    color: #333 !important;
    font-size: 18px;
    line-height: 32px;
    margin: 14px 0;
  }

  .nav li a::after {
    background: #333;
  }

  .shut {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-top: 2%;
    cursor: pointer;
  }

  .shut.show {
    opacity: 1;
  }

  .shut.show::before,
  .shut.show::after {
    opacity: 1;
  }

  .shut.show::before {
    transform: translate3d(13px, 0, 0) rotate(45deg);
    animation: slideInLeft .3s;
  }

  .shut.show::after {
    transform: translate3d(-13px, 0, 0) rotate(-45deg);
    animation: slideInRight .3s;
  }

  @keyframes slideInLeft {
    0% {
      transform: translate3d(-10px, -23px, 0) rotate(45deg);
    }

    50% {
      transform: translate3d(18px, 5px, 0) rotate(45deg);
    }

    100% {
      transform: translate3d(13px, 0, 0) rotate(45deg);
    }
  }

  @keyframes slideInRight {
    40% {
      transform: translate3d(10px, -23px, 0) rotate(-45deg);
    }

    70% {
      transform: translate3d(-18px, 5px, 0) rotate(-45deg);
    }

    100% {
      transform: translate3d(-13px, 0, 0) rotate(-45deg);
    }
  }

  .shut::before,
  .shut::after {
    content: '';
    background: #333;
    width: 26px;
    height: 2px;
    opacity: 0;
  }
}

/* Main
-------------------------------------------------- */
@media (min-width: 768px) {
  .btn-contact:hover::after {
    right: 20px;
    opacity: 1;
  }

  .btn-contact:hover span {
    left: -8px;
  }

  .btn-contact::after {
    content: '\2192';
    position: absolute;
    right: 24px;
    opacity: 0;
    transition: .2s;
  }

  .btn-contact span {
    position: relative;
    left: 0;
    transition: .2s;
  }
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  text-align: center;
}

.section.next {
  position: relative;
  height: 450px;
  overflow: hidden;
}

.work .section.next {
  margin-left: 10px;
  margin-right: 10px;
}

.home .section.next .next-bg {
  background-image: url(@/img/next_work.jpg);
}

.section.next .next-bg,
.section.next a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section.next .next-bg {
  background: 50% 50% / cover no-repeat;
  transition: .6s;
}

.section.next:hover .next-bg {
  background-position: 50% 65%;
}

.section.next a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.section h2 {
  font-size: 38px;
  line-height: 1.5;
}

.slide:nth-of-type(5) h2 {
  margin-top: -60px;
}

.pricing .row,
.contact .row {
  width: 80%;
}

.cover-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.section h3 {
  line-height: 1.5;
}

.section p {
  line-height: 2;
}

.btn-contact {
  position: relative;
  display: inline-block;
  border: 1px solid #555;
  border-radius: 100%;
  color: #333;
  line-height: 120px;
  width: 120px;
  height: 120px;
  margin-top: 30px;
  transition: .2s;
}

.slide .btn-contact {
  border-color: #fff;
  color: #fff;
  margin-top: 0;
}

.slide .btn-contact:hover {
  background: rgba(255, 255, 255, 0.15);
}

.btn-contact:hover {
  background: rgba(0, 0, 0, 0.03);
}

@media (max-width: 1024px) {

  .section h1,
  .section h2,
  .section h3 {
    max-width: 90%;
  }

  .section h3 {
    margin-left: auto;
    margin-right: auto;
  }

  .pricing .row,
  .contact .row {
    width: 100%;
  }

  .section br {
    display: none;
  }

  .btn-contact {
    position: relative;
    display: inline-block;
    border: 1px solid #555;
    border-radius: 100%;
    color: #333;
    line-height: 120px;
    width: 120px;
    height: 120px;
    margin-top: 30px;
    transition: .2s;
  }

  .slide .btn-contact {
    border-color: #fff;
    color: #fff;
    margin-top: 0;
  }

  .slide .btn-contact:hover {
    background: rgba(255, 255, 255, 0.15);
  }

  .btn-contact:hover {
    background: rgba(0, 0, 0, 0.03);
  }
}

@media (max-width: 767px) {
  .section.next {
    height: 300px;
  }

  .section h2 {
    font-size: 30px;
  }

  .slide:nth-of-type(5) h2 {
    margin-top: 0;
  }

  .section p {
    line-height: 1.8;
  }

  .section br {
    display: none;
  }

  .btn-contact {
    border-color: #777;
    color: #555;
    text-align: center;
    line-height: 90px;
    width: 90px;
    height: 90px;
  }
}

/* Footer
-------------------------------------------------- */
@media (min-width: 768px) {
  .home .footer {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  // .home .footer li {
  //   color: #fff;
  // }
}

.footer {
  border-top: 1px solid #e9e9e9;
  text-align: center;
  padding: 30px 0;
  height: 220px;
}

.footer li {
  color: #888;
  font-size: 14px;
  line-height: 1.2;
  padding: 5px 0;
}

.footer a {
  color: inherit;
}

.footer a:hover {
  text-decoration: underline;
}

/* footer{
  background-color:#00bbee;
  color:#fff;
  padding:30px 0;
  height:208px;
}
footer h4{
  margin-top:0;
  margin-bottom:10px;
}
footer li>a{
  display:block;
  padding:5px 0;
  color: #fff;
} */
.footer-left,
.footer-middle,
.footer-right {
  float: left;
  overflow: hidden;
  text-align: center;
  height: 100%;
}

.footer-left {
  width: 25%;
  line-height: 22px;
  /* border-right:1px solid hsla(0,0%,30%,.6); */
}

.footer-right {
  width: 20%;
  color: #ddd;
  text-align: left;
  font-size: 14px;
  text-align: center;
}

.footer-left img {
  width: 194px;
}

.footer-right img {
  width: 102px;
}

.footer-right h4 {
  margin: 0;
  margin-bottom: 4px;
  color: #9f9f9f;

}

.footer-right p {
  margin: 0;
  color: #9f9f9f;
}

.footer-middle {
  width: 55%;
  text-align: left;
  padding-left: 6%;
  padding-right: 3%;
}

.footer-copyright {
  text-align: left;
  margin: 20px 0 0 29%;
}

.footer-copyright div {
  color: #9f9f9f;
}

.footer-middle>.lists {
  float: left;
  width: 33.333333%;
}

.footer-middle>.lists>ul {
  margin-top: 10px;
}

.footer-middle>.lists:last-child {
  visibility: visible;
}

.footer-middle>.lists::after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
}

@media (max-width: 767px) {
  .home .footer {
    border-top: 0;
  }

  .footer li {
    line-height: 1.7;
    padding: 0;
  }

  .footer li:last-child {
    display: block;
  }
}

/* home
-------------------------------------------------- */
.home .section,
.home .footer {
  position: relative;
}

.brand {
  background: #181818;
  color: #fff;
  height: 100vh;
}

.brand h1 {
  z-index: 2;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 1px;
}

.blur img {
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: opacity .4s, filter .1s;
}

.blur img.loaded {
  opacity: 1;
}

.blur .thumb {
  filter: blur(30px);
}

.blur .thumb.hidden {
  opacity: 0;
}

.column {
  padding-top: 130px;
  padding-bottom: 130px;
}

.column h2 {
  margin-bottom: 35px;
}

.column h3 {
  font-size: 25px;
  margin-bottom: 25px;
}

.column p {
  font-size: 16px;
  width: 50%;
}

.intro {
  // background: #f5f5f5;

  p {
    font-size: 18px;
    line-height: 2.4;
  }
}

.data {
  height: 480px;

  @at-root &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    background: #ccc;
    width: 60px;
    height: 1px;
  }

  .row {
    width: 65%;

    .col {
      cursor: pointer;
      transition: all 0.6s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  a {
    display: block;
    width: 220px;
    height: 220px;
    margin: 0 auto;
    overflow: hidden;
  }

  figure {
    background: center / 110px no-repeat;
    height: 110px;
  }

  figure.area {
    background-image: url(@/img/icon/area.png);
  }

  figure.branch {
    background-image: url(@/img/icon/branch.png);
  }

  figure.company {
    background-image: url(@/img/icon/company.png);
  }

  figure.report {
    background-image: url(@/img/icon/report.png);
  }

  h3 {
    padding: 30px 0 8px;
    font-size: 16px;
  }

  .number {
    padding: 4px 0 12px;
    font-size: 20px;
    color: #09f;
  }

  p {
    color: #888;
    line-height: 1.9;
    margin-bottom: 25px;
    padding: 0 60px;
  }
}

/* stage
-------------------------------------------------- */
.stage {
  padding-top: 120px;

  h2 {
    margin-bottom: 70px;
  }

  .work-row {
    box-sizing: border-box;
    padding: 5px;

    .col {
      position: relative;
      background: #f2f2f2;
      // background-clip: padding-box;
      box-sizing: border-box;
      border: 5px solid #fff;
      padding-top: 50px;
      padding-bottom: 30px;

      &:hover h3 {
        color: #08c;
      }

      .icon {
        background-color: transparent;
        background-size: 200px;
        width: 150px;
        height: 150px;

        @for $i from 1 through 8 {
          &.work-#{$i} {
            width: 150px;
            height: 150px;
            margin: 0 auto;
            background: url('@/img/work/#{$i}.png') center / 150px;
            border-radius: 50%;
          }
        }
      }

      h3 {
        font-size: 21px;
      }

      p {
        color: #bbb;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 767px) {
  .stage {
    padding-top: 80px;

    h2 {
      margin-bottom: 40px;
    }

    .work-row {
      .col {
        padding-top: 0;
        padding-bottom: 15px;

        .icon {
          background-size: 150px;
          width: 150px;
          height: 150px;
        }

        h3 {
          margin-top: -30px;
        }
      }
    }
  }
}

/* media
-------------------------------------------------- */
.media {
  padding: 100px 0;

  h2 {
    margin-bottom: 50px;
  }

  .media-row {
    box-sizing: border-box;
    padding: 5px;
    width: 80%;
    margin: 0 auto;

    .col {
      position: relative;
      box-sizing: border-box;
      border: 5px solid #fff;
      padding: 30px;
      cursor: pointer;

      &:hover .right{
        transform: translateX(6px);
        transition: all .3s ease;
      }

      .left,
      .right {
        float: left;
      }

      .left {
        width: 100px;
      }

      .right {
        border: 1px solid #ccc;
        background: #f2f2f2;
        position: relative;
        width: calc(100% - 100px);
        height: 64px;
        // line-height: 70px;
        text-align: left;
        padding: 10px;
        border-radius: 6px;
        z-index: 0;

        &:before {
          border-style: solid;
          border-width: 10px 10px 10px 0;
          border-color: transparent #f2f2f2 transparent transparent;
          content: "";
          position: absolute;
          top: 50%;
          left: -10px;
          margin-top: -9px;
          display: block;
          width: 0px;
          height: 0px;
          z-index: 0;
        }

        &:after {
          border-style: solid;
          border-width: 11px 11px 11px 0;
          border-color: transparent #ccc transparent transparent;
          content: "";
          position: absolute;
          top: 50%;
          left: -12px;
          margin-top: -10px;
          display: block;
          width: 0px;
          height: 0px;
          z-index: -1;
        }
      }

      // &:hover h3 {
      //   color: #08c;
      // }

      .icon {
        background-color: transparent;
        background-size: 200px;
        width: 50px;
        height: 50px;

        @for $i from 1 through 12 {
          &.media-#{$i} {
            width: 50px;
            height: 50px;
            margin: 0 auto;
            background: url('@/img/media/#{$i}.png') center / 50px;
            border-radius: 50%;
          }
        }
      }

      h3 {
        font-size: 12px;
      }

      p {
        color: #bbb;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 767px) {
  .media {
    padding-top: 80px;

    h2 {
      margin-bottom: 40px;
    }

    .media-row {
      .col {
        padding-top: 0;
        padding-bottom: 15px;

        .icon {
          background-size: 150px;
          width: 150px;
          height: 150px;
        }

        h3 {
          margin-top: -30px;
        }
      }
    }
  }
}

.generation {
  padding-bottom: 0;
}

.generation::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  background: #ccc;
  width: 60px;
  height: 1px;
}

.generation p {
  padding-bottom: 120px;
}

.science {
  width: 100%;

  div {
    width: 20%;
    position: relative;
    height: 100%;
    background: center center / 100% no-repeat;
    transition: all 0.3s ease 0s;
    overflow: hidden;
    cursor: pointer;

    .block:hover::after {
      visibility: visible;
      opacity: 1;
    }

    .block::after {
      // content: '';
      color: #fff;
      line-height: 190px;
      background: rgba(0, 0, 0, 0.3);
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      box-shadow: 0 0 0 1px #fff;
      width: 80%;
      height: 80%;
      transition: 1s all;
    }

    .block {
      transform: scale(1);
      transition: all 0.3s ease 0s;
    }

    .block:hover {
      transform: scale(1.1);
    }

    figure {
      background: center / cover no-repeat;
      height: 220px;
      border-right: 1px solid #fff;

      &.science-1 {
        background-image: url(@/img/science/1.jpg);

        &::after {
          content: '互联网';
        }
      }

      &.science-2 {
        background-image: url(@/img/science/2.jpg);

        &::after {
          content: '云计算';
        }
      }

      &.science-3 {
        background-image: url(@/img/science/3.jpg);

        &::after {
          content: '大数据';
        }
      }

      &.science-4 {
        background-image: url(@/img/science/4.jpg);

        &::after {
          content: '人工智能';
        }
      }

      &.science-5 {
        background-image: url(@/img/science/5.jpg);

        &::after {
          content: '区块链';
        }

        border-right: none;
      }
    }
  }

  @media (max-width: 767px) {
    div {
      width: 100%;

      figure {
        border-bottom: 1px solid #fff;
        border-right: none;
      }
    }
  }
}

.dark {
  background: #000;
  color: #fff;
}

// .design-pic {
//   background: url('@/img/design_pic.png') center top no-repeat;
//   width: 300px;
//   height: 218px;
//   margin-top: 15px;
// }

.half {
  background: #fafafa;
  text-align: left;
}

.left-pic,
.right-pic,
.left1-pic,
.right1-pic {
  height: 600px;
}

.left-pic {
  background: url(@/img/left_pic.jpg) center/cover no-repeat;
}

.right-pic {
  background: url(@/img/right_pic.jpg) center/cover no-repeat;
}
.left1-pic {
  background: url(@/img/left1_pic.jpg) center/cover no-repeat;
}

.right1-pic {
  background: url(@/img/right1_pic.jpeg) center/cover no-repeat;
}

.left-text,
.right-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  height: 600px;
  margin: auto;
}

.half h3 {
  font-size: 25px;
  margin-bottom: 30px;
}

.code {
  background: #f5f5f5;
  padding-top: 0;
}

.code-pic {
  // background: url(@/img/code_pic.jpg) center/cover no-repeat;
  width: 100%;
  height: 400px;
  margin-bottom: 120px;
}

@media (max-width: 1024px) {
  .data .row {
    width: 90%;
  }

  .data a {
    width: 200px;
    height: 200px;
  }

  .phone {
    height: 150px;
  }

  .left-pic,
  .right-pic {
    height: 400px;
  }

  .left-text,
  .right-text {
    width: 60%;
    height: 400px;
  }
}

@media (max-width: 767px) {
  .brand {
    background-attachment: scroll !important;
  }

  .brand h1 {
    font-size: 38px;
    line-height: 1.4;
    letter-spacing: 0;
  }

  .column {
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .column:last-child h2 {
    text-align: center;
  }

  .column h2 {
    margin-bottom: 20px;
  }

  .column h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .column p {
    width: 90%;
  }

  .intro p {
    font-size: 17px;
    line-height: 2;
    text-align: center;
  }

  .data .col+.col {
    margin-top: 20px;
  }

  .data a {
    width: 160px;
    height: 160px;
  }

  .generation {
    padding-bottom: 0;
  }

  .generation p {
    padding-bottom: 50px;
  }

  .left-pic,
  .right-pic {
    height: 200px;
  }

  .left-text,
  .right-text {
    width: 90%;
    height: auto;
    padding: 50px 0;
  }

  .left-text {
    padding-top: 0;
  }

  .half h3 {
    font-size: 22px;
    max-width: 100%;
    width: 100%;
    margin-bottom: 15px;
  }

  .code {
    padding-top: 0;
  }

  .code-pic {
    height: 200px;
    margin-bottom: 50px;
  }
}